html{
    color:orange;
    font-weight:bold;
    background-image: url(https://lh3.googleusercontent.com/U-av1a2JTdB02XHnT_nr7jiSkuyftNNIjNuD2_j1WfK0cI9YAF-8A2BCnBnqDTnBFMEReaeKMszdlkdkJUmxpiw=s0);
    background-repeat:no-repeat;
    background-size:cover;
}
body{
    text-align: center;
}
h1{
    color:green;
}
h2{
    color:pink;
    font-family: cursive;
    font-size: 50px;
}
#add-new-todo-button{
    font-size:20px;
    text-align: center;
    color:#FFFFFF;
    background-color: #03A9F4;
}
ol{
    list-style-position: inside;
    text-align:left;
    font-size: 30px;
    padding-left: 350px;
}
.fourth{
    color:pink;
    text-align: center;
    font-size:50px;
    font-family: monospace;
}
.first{
    text-align:center;
}
.second{
    text-align:right;
}
.third{
    color:white;
    background-color:grey;
    border-style: dashed;
    border-color:pink;
}
.third:hover{
    color:yellow;
}
.third:active{
    color:blue;
}    
.fifth{
    font-size: 70px;
    color:orange;
}
.sixth{
    color:white;
    background-color:grey;
    border-style: dashed;
    border-color:pink;
    margin-left: 1290px;
}
.sixth:hover{
    color:yellow;
}
.sixth:active{
    color:blue;
}