<div class="fifth">This is an under construction site.
<p><img width="500" height="350" src="http://www.c-t.com.au/wp-content/uploads/2015/09/Web-under-construction.jpeg"></p>
<p><a href="/index.html"><span class="third">Press here to go back to index.</span></a></p></div>