 <h2>Hello Shu An</h2>
    <h1>There are something you need to do.</h1> 
    <p>
    <input type="text"placeholder="Add a new todo">
    <input type="text"placeholder="estimate time"></p>
    <p><input id="add-new-todo-button" type="submit" value="add-to-do">
    </p>
    <ol>
        <li><input type="checkbox"/> At 6:00, wake up.25 minutes. <a href="show1.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 6:30, breakfast.25 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 7:00, go to school.25 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 7:30, go to classes.4 hours 40 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 12:15, have lunch.1 hour 10 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 13:30, go to clsses.3 hours. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 17:30, have dinner.25 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 18:30, go home.25 minutes. <a href="#"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 19:00, do homework.55 minutes. <a href="show9.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 23:00, go to bed.7 hours. <a href="#"><input type="button" value="view more"></a></li>
    </ol>