<h2>Hello Shu An</h2>
    <h1>There are something you need to do.</h1> 
    <p><a href="new.html"><input id="add-new-todo-button" type="submit" value="add-to-do"></a></p>
    <ol>
        <li><input type="checkbox"/> At 6:00, wake up.25 minutes. <a href="show/1.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 6:30, breakfast.25 minutes. <a href="show/2.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 7:00, go to school.25 minutes. <a href="show/3.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 7:30, go to classes.4 hours 40 minutes. <a href="show/4.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 12:15, have lunch.1 hour 10 minutes. <a href="show/5.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 13:30, go to clsses.4 hours. <a href="show/6.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 17:35, have dinner.50 minutes. <a href="show/7.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 18:30, go home.25 minutes. <a href="show/8.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 19:00, do homework.4 hours. <a href="show/9.html"><input type="button" value="view more"></a></li>
        <li><input type="checkbox"/> At 23:30, go to bed.6 hours 30 minutes. <a href="show/10.html"><input type="button" value="view more"></a></li>
    </ol>