<h2>Add a new todo...</h2>
  
  <form action="/create">
    <input class="text-input" name="description" type="text" placeholder="Add a new todo...">
    <input class="text-input" name="pomodoro-estimate" type="text" placeholder="Time estimate...">
    <input class="button add-new-todo-button" type="submit" value="Add todo">
    <p><a href="/"><span class="sixth">Back</span></a></p>
  </form>